.title1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0;
}

.title2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0;
}

.title3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
}

.title4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

.title5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0;
}

.text1 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

.text2 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
}

.caption1 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

.button1 {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0;
}

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.content1 {
  color: var(--content-1);
}

.content2 {
  color: var(--content-2);
}

.content3 {
  color: var(--content-3);
}

.white {
  color: var(--white);
}

.success {
  color: var(--success);
}

.error {
  color: var(--error);
}
