.navigation {
  inline-size: 100%;
  padding: var(--space-8);
  display: flex;
  backdrop-filter: blur(64px);
  background-color: hsl(from var(--background-1) h s l / 80%);
}

.navLink {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: var(--space-8) var(--space-4);
  padding-inline: var(--space-4);
  gap: var(--space-2);
  border-radius: var(--radius-12);
  color: inherit;
  transition: background-color 0.2s;
  position: relative;
  min-inline-size: 0;
  text-decoration: none;

  &:focus {
    outline-offset: -2px;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  @media (hover: hover) {
    &:hover {
      background: var(--background-2);
    }
  }

  &:active {
    background: var(--background-2);
  }
}

.navLinkActive {
  background: var(--background-3);
}

.iconContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 2px;
  gap: var(--space-2);
}

.counter {
  position: absolute;
  inset-block-start: -4px;
  inset-inline-end: -10px;
}

.icon {
  inline-size: 28px;
  block-size: 28px;
}

.label {
  font-size: 10px;
  line-height: 16px;
  text-align: center;
}

@media (--md-up) {
  .navigation {
    flex-direction: column;
    padding-block: var(--space-16);
    gap: var(--space-6);
  }

  .navLink {
    padding-block: var(--space-8) var(--space-4);
    gap: 0;
    padding-inline: var(--space-24);
    text-wrap: nowrap;
  }
}

@media (--xxl-up) {
  .navigation {
    padding-block: var(--space-24);
    padding-inline: var(--space-16);
  }

  .navLink {
    flex-direction: row;
    gap: var(--space-16);
    padding-block: var(--space-18);
    padding-inline: var(--space-20);
  }

  .iconContainer {
    margin-block-end: 0;
  }

  .label {
    font-size: var(--space-16);
    line-height: var(--space-20);
    font-weight: 500;
  }
}
