.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-8);
  border-radius: var(--radius-16);
  text-align: center;
  cursor: pointer;
  transition:
    color 150ms,
    background-color 150ms;

  &:disabled {
    opacity: 0.4;
    cursor: auto;
  }

  &:hover {
    text-decoration: none;
  }
}

.icon {
  flex-shrink: 0;
  display: block;
  inline-size: 24px;
  block-size: 24px;
}

.transparent {
  opacity: 0;
}

.spinner {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  inline-size: 24px;
  block-size: 24px;
  translate: -50% -50%;
  animation: spin 1s linear infinite;
}

.primary {
  color: var(--white);
  background-color: var(--purple-500);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: var(--purple-400);
    }
  }

  &:active:not(:disabled) {
    background-color: var(--purple-600);
  }
}

.secondary {
  color: var(--purple-500);
  background-color: var(--purple-25);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      color: var(--purple-600);
      background-color: var(--purple-50);
    }
  }

  &:active:not(:disabled) {
    background-color: var(--purple-25);
  }
}

.whitePrimary {
  color: var(--purple-500);
  background-color: var(--white);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      color: var(--purple-600);
      background-color: var(--purple-50);
    }
  }

  &:active:not(:disabled) {
    background-color: var(--purple-25);
  }
}

.transparentPrimary {
  color: var(--purple-500);
  background-color: transparent;

  @media (hover: hover) {
    &:hover:not(:disabled) {
      color: var(--purple-600);
      background-color: hsl(from var(--white) h s l / 10%);
      backdrop-filter: blur(64px);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--white) h s l / 30%);
    backdrop-filter: blur(64px);
  }
}

.transparentGray {
  color: var(--c-content-1);
  background-color: transparent;

  @media (hover: hover) {
    &:hover:not(:disabled) {
      color: var(--base-900);
      background-color: hsl(from var(--white) h s l / 10%);
      backdrop-filter: blur(64px);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--white) h s l / 30%);
    backdrop-filter: blur(64px);
  }
}

.transparentWhite {
  color: var(--white);
  background-color: transparent;

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: hsl(from var(--white) h s l / 10%);
      backdrop-filter: blur(64px);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--white) h s l / 30%);
    backdrop-filter: blur(64px);
  }
}

.semiGray {
  color: var(--white);
  background-color: hsl(var(--base-500) h s l / 50%);
  backdrop-filter: blur(64px);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: hsl(var(--base-500) h s l / 65%);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(var(--base-500) h s l / 80%);
  }
}

.semiPrimary {
  color: var(--purple-500);
  background-color: hsl(from var(--purple-500) h s l / 12%);
  backdrop-filter: blur(64px);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: hsl(from var(--purple-500) h s l / 20%);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--purple-500) h s l / 24%);
  }
}

.xs {
  gap: var(--space-4);
  padding-block: var(--space-4);
  padding-inline: var(--space-12);
  min-block-size: 32px;
  border-radius: var(--radius-16);
}

.sm {
  gap: var(--space-8);
  padding-block: var(--space-6);
  padding-inline: var(--space-16);
  min-block-size: 36px;
  border-radius: var(--radius-20);
}

.md {
  gap: var(--space-8);
  padding-block: var(--space-8);
  padding-inline: var(--space-20);
  min-block-size: 48px;
  border-radius: var(--radius-16);
}

.lg {
  gap: var(--space-8);
  padding-block: var(--space-8);
  padding-inline: var(--space-32);
  min-block-size: 56px;
  border-radius: var(--radius-16);
}

.xsText,
.smText,
.mdText,
.lgText {
  display: block;
}

.xsText {
  font-size: 14px;
  line-height: 16px;
}

.smText {
  font-size: 16px;
  line-height: 20px;
}

.fullWidth {
  inline-size: 100%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
