:root {
  --purple-1100: #140031;
  --purple-1000: #1f0147;
  --purple-900: #2d0562;
  --purple-800: #3b0b80;
  --purple-700: #4c159a;
  --purple-600: #5d22b1;
  --purple-500: #6929c4;
  --purple-400: #7d3fd4;
  --purple-300: #9258e9;
  --purple-200: #b17ef7;
  --purple-100: #cba9fa;
  --purple-50: #e9dcfd;
  --purple-25: #f8f3ff;
  --red-1100: #2e0004;
  --red-1000: #510007;
  --red-900: #75000a;
  --red-800: #94000d;
  --red-700: #a30a17;
  --red-600: #ae1522;
  --red-500: #b9212e;
  --red-400: #d8333e;
  --red-300: #ff564e;
  --red-200: #ff7871;
  --red-100: #ffaca8;
  --red-50: #ffdad8;
  --red-25: #fff2f2;
  --pink-1100: #2d001a;
  --pink-1000: #50002d;
  --pink-900: #740042;
  --pink-800: #920052;
  --pink-700: #a90060;
  --pink-600: #bc006a;
  --pink-500: #cd0074;
  --pink-400: #df1384;
  --pink-300: #ff32a1;
  --pink-200: #ff6bb9;
  --pink-100: #ff9fd1;
  --pink-50: #ffd6ea;
  --pink-25: #ffeff7;
  --blue-1100: #001035;
  --blue-1000: #00174e;
  --blue-900: #001d60;
  --blue-800: #00216e;
  --blue-700: #002884;
  --blue-600: #00359a;
  --blue-500: #0044b0;
  --blue-400: #275cd7;
  --blue-300: #5d80ff;
  --blue-200: #87a1ff;
  --blue-100: #b5c5ff;
  --blue-50: #e4eaff;
  --blue-25: #f5f7ff;
  --cyan-1100: #002232;
  --cyan-1000: #004060;
  --cyan-900: #005984;
  --cyan-800: #006ca1;
  --cyan-700: #007ebc;
  --cyan-600: #0a8dce;
  --cyan-500: #1697d8;
  --cyan-400: #2ba5e2;
  --cyan-300: #5ac0f2;
  --cyan-200: #86d4fa;
  --cyan-100: #b7e4fa;
  --cyan-50: #ddf2fc;
  --cyan-25: #f1fafe;
  --green-1100: #001f05;
  --green-1000: #003709;
  --green-900: #00520e;
  --green-800: #006a12;
  --green-700: #027f17;
  --green-600: #0e8e25;
  --green-500: #209e35;
  --green-400: #348149;
  --green-300: #55d86f;
  --green-200: #7df297;
  --green-100: #a7f889;
  --green-50: #d4fcdd;
  --green-25: #effff2;
  --yellow-1100: #281000;
  --yellow-1000: #481f00;
  --yellow-900: #683000;
  --yellow-800: #884200;
  --yellow-700: #a45500;
  --yellow-600: #bb6300;
  --yellow-500: #ca7000;
  --yellow-400: #e58508;
  --yellow-300: #ffa127;
  --yellow-200: #ffb854;
  --yellow-100: #ffd28f;
  --yellow-50: #ffebca;
  --yellow-25: #fff7e8;
  --base-1100: #131822;
  --base-1000: #222937;
  --base-900: #313448;
  --base-800: #42405e;
  --base-700: #576275;
  --base-600: #6e798c;
  --base-500: #858fa1;
  --base-400: #929caf;
  --base-300: #a6afc1;
  --base-200: #c1c9d8;
  --base-100: #dee3ed;
  --base-50: #f1f3f6;
  --base-25: #f8f9fa;
  --black: #000;
  --white: #fff;
  --primary: var(--purple-500);
  --primary-hover: var(--purple-400);
  --primary-active: var(--purple-600);
  --secondary: var(--pink-500);
  --secondary-hover: var(--pink-400);
  --secondary-active: var(--pink-600);
  --tertiary: var(--blue-500);
  --tertiary-hover: var(--blue-400);
  --tertiary-active: var(--blue-600);
  --content-1: var(--black);
  --content-2: var(--base-400);
  --content-3: var(--base-300);
  --link-1: var(--purple-500);
  --transparent-1: color(from var(--base-400) r g b / 12%);
  --transparent-2: color(from var(--base-400) r g b / 20%);
  --transparent-3: color(from var(--base-400) r g b / 28%);
  --background-1: var(--white);
  --background-2: var(--base-25);
  --background-3: var(--base-50);
  --background-4: var(--base-100);
  --border-color-1: var(--base-100);
  --border-color-2: var(--base-200);
  --border-color-3: var(--base-300);
  --border-color-4: var(--purple-500);
  --success: var(--green-500);
  --alert: var(--yellow-500);
  --error: var(--red-500);
}
